/* You can add global styles to this file, and also import other style files */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-normal: 1100px;
  --container-wide: 1400px;
  --container-narrow: 900px;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Open Sans", sans-serif;
  line-height: 1.6;
}

/* Container */
.container {
  max-width: var(--container-normal);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container-lg {
  max-width: var(--container-wide);
}

.container-sm {
  max-width: var(--container-narrow);
}

/* Override to match theme */
.mat-mdc-card-title {
  color: var(--mat-app-text-color);
}
